.features {
	width: 415px;
}

.features__subtitle {
	font-family: Bebas Neue;
	font-weight: bold;
	font-size: 24px;
}

.features__title {
	font-family: Bebas Neue;
	font-weight: bold;
	font-size: 80px;
	text-transform: uppercase;
}

.features__item_title {
	font-family: Bebas Neue;
	font-weight: bold;
	font-size: 36px;
	color: var(--c-yellow);
}

.features__item_text {
	font-family: Open Sans;
	font-weight: normal;
	font-size: 18px;
}

.features__item {
	margin-bottom: 30px;
	position: relative;
}

.features__item:before, .features__item:after {
	display: block;
	content: "";
	position: absolute;
}

.features__item:before {
	left: -40px;
	top: 13px;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	border: 1px solid var(--c-white);
}

.features__item:after {
	left: -34px;
	top: 13px;
	width: 1px;
	height: 0;
	background-color: var(--c-white);
}

.features__item.-active:before {
	background-color: var(--c-white);
}

.features__item.-active:after {
	height: 126%;
}

.features__list {
	padding-left: 40px;
}

@media screen and (max-width: 767px) {
	.info.-features {
		padding-left: 20%;
	}

	.features__subtitle {
		font-size: 18px;
	}

	.features__title {
		font-size: 33px;
	}

	.features__item_title {
		font-size: 21px;
	}

	.features__item_text {
		font-size: 14;
	}
}