header {
	height: 110px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
}

.header__logo {
	height: 55px;
	width: 55px;
}

.header__link {
	font-size: 12px;
	font-weight: bold;
	color: white;
}